{% extends 'users/base.html' %}
{% block ex %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/images/slide/pexels-august-de-richelieu-4427431.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/media/images/slide/pexels-august-de-richelieu-4427553.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/media/images/slide/pexels-snapwire-618613.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
    <div class="container-fluid p-lg-5 bg-light">
      <div class="d-flex justify-content-center">
          <a class="btn-style btn-style-top-left"  href="#">Civil Lowyer</a>
          <a class="btn-style btn-style-top-right" href="#">Tax Lowyer</a>
      </div>
      <div class="d-flex justify-content-center">
          <a class="btn-style btn-style-midel" href="#">Family Lowyer</a>
          <a class="btn-style btn-style-midel" href="#">Criminal Lowyer</a>
      </div>
      <div class="d-flex justify-content-center">
          <a class="btn-style btn-style-bottom-left" href="#">Corporate Lowyer</a>
          <a class="btn-style btn-style-bottom-right" href="#">International Lowyer</a>
      </div>
  </div> 
  
  <div class="container-fluid bg-dark">
      <div class="d-flex justify-content-evenly p-5 text-light">
          <div class="pt-4 pr-2 border-right">
              <h1>95%</h1>
              <p>LAWYERS</p>
          </div>
          <div class="w-25 pt-4 pl-3 pr-5">
              <p>in country reachable through our directory.</p>
          </div>
          <div class="pt-4 pr-2 border-right">
              <h1>100k</h1>
              <p>PEOPLE</p>
          </div>
          <div class="w-25 pt-4 pl-3 pr-5">
              <p>of helping people find the right lawyer for cases.</p>
          </div>
          <div class="pt-4 pr-2 border-right">
              <h1>100</h1>
              <p>AREAS</p>
          </div>
          <div class="w-25 pt-4 pl-3 pr-5">
              <p>areas of practice covered by our qualified lawyers.</p>
          </div>
          
      </div>
  </div>

  <div class="container-fluid bg-light text-center p-lg-5">
      <h2 class="font-weight-bold">HOW LEGAL ADVICE HELPS</h2>
      <div class="d-flex justify-content-center">
          <div class="p-4 m-3" style="background-color: #FFFF;">
              <i class="fas fas-icon fa-users text-danger" aria-hidden="true"></i>
              <h4 class="text-info" style="line-height:40px">FIND YOUR LAWYER</h4>
              <p>
                  Find your desired highly skilled laywer, advocates and barriesters from our database.</p>
          </div>
          <div class="p-4 m-3" style="background-color: #FFFF;">
              <i class="fas fas-icon fa-hand-pointer text-danger" aria-hidden="true"></i>
              <h4 class="text-info" style="line-height:40px">
                  CHOOSE LAWYER</h4>
              <p>
                  Select highly skilled laywer, advocates and barriesters and solve your legal problems.</p>
          </div>
          <div class="p-4 m-3" style="background-color: #FFFF;">
              <i class="fas fas-icon fa-people-carry text-danger" aria-hidden="true"></i>
              <h4 class="text-info" style="line-height:40px">CONSULT RIGHT NOW</h4>
              <p>Consult the lawyer over phone, email or office which suits you best.</p>
          </div>
          
      </div>
  </div>

{% endblock ex %}